<div class="col-xs-12">
    <h2>mes appareils</h2>
    <p>Mis à jour : {{ lastUpdate |async| date}}</p> <!--date est un pipe angular et il premet de formater notre variable-->
    <ul class="list-group">
      <ul class="list-group">
        <app-appareil  *ngFor="let appareil of appareils; let i =index"
                   [appareilIndex]="i"
                   [appareilName]="appareil.name"
                   [appareilStatus]="appareil.status"
                   [appareilId]="appareil.id"></app-appareil>
      
                   
    </ul>
    </ul>
    <button class="btn btn-success" 
           (click)="onAllumer()"
          [disabled]="!isAuth">
          Tout allumer
    </button>
    <button class="btn btn-danger" style="margin-left: 5%;" 
           (click)="onEteindre()"
          [disabled]="!isAuth">
          Tout éteindre
    </button>
  </div>
